<div>
    <h1 class="title">PetShop</h1>
    <h2 class="title">-------------</h2>

    <div class="menu">
        <a href="/products/"><button>Productos</button></a>
        <a href="/realtimeproducts"><button>Modificar Productos</button></a>
        <a href="/cart"><button>Carrito</button></a>
    </div>

</div>